<ul class="nav">
<li><a href="/zones">地区</a></li>
<li><a href="/cities">城市</a></li>
<li><a href="/tournaments">联盟</a></li>
<li><a href="/courts">场地</a></li>
<!-- <li><a href="/court_tournaments">联盟中的场地</a></li> -->
<li><a href="/games">比赛</a></li>
<!-- <li><a href="/game_tournaments">联盟与比赛</a></li> -->
<li><a href="/weblogs">新消息发布</a></li>
<li><a href="/user_groups">用户群管理</a></li>
</ul>